<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/edit" method="post">
        <input type="text" class="w-auto m-3 p-3 text-zinc-600  bg-zinc-800" placeholder="Previous Name" value="<%=filename%>" readonly name="previousname">
        <input type="text" class="w-auto m-3 p-3 text-zinc-600  bg-zinc-800" placeholder="New Name" name="newname">
        <input type="submit" value="Change Name">
    </form>
</body>
</html>